.cache/
.DS_Store
.idea
.history

lerna-debug.log
npm-debug.log
yarn-error.log

coverage/
reports/

/**/node_modules
/**/build
/**/dist
/**/.docusaurus

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
