node_modules/
.DS_Store
.idea
lerna-debug.log
npm-debug.log
/.vscode
/packages/availity-react-kit/build
/packages/availity-react-kit/dist
/packages/availity-angular-kit/build
/packages/availity-angular-kit/dist
/packages/availity-angular-kit/project/config/workflow.js
/packages/availity-react-kit/project/config/workflow.js
