node_modules/
.DS_Store
.idea
lerna-debug.log
npm-debug.log
/.vscode
package-lock.json
build/
dist/
/packages/availity-angular-kit/project/config/workflow.js
/packages/availity-react-kit/project/config/workflow.js
